<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="cloudFilesUiApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container-fluid vertical">
      <div class="login-form">
        <p class="text-center">
          <img src="https://a16545fb495c8760fb33-4cec33efbe2744e99ba863e52edb2075.ssl.cf2.rackcdn.com/fanatiguy-black.png" width="40%" height="40%" style="margin-bottom: 20px;">
        </p>
        <% if (message.success) { %>
          <% for(var i=0; i<message.success.length; i++) {%>
            <div class="alert alert-success" role="alert">
              <%= message.success[i] %>
            </div>
          <% } %>
        <% } %>
        <% if (message.error) { %>
          <% for(var i=0; i<message.error.length; i++) {%>
            <div class="alert alert-danger" role="alert">
              <%= message.error[i] %>
            </div>
          <% } %>
        <% } %>
        <form role="form" action="/login" method="post">
          <div class="form-group">
            <input type="text" placeholder="Username" name="username" placeholder="Username" class="form-control input-lg">
          </div>
          <div class="form-group">
            <input type="password" placeholder="Password" name="password" placeholder="Password" class="form-control input-lg">
          </div>
          <button type="submit" class="btn btn-danger btn-block btn-lg">Sign in</button>
        </form>
      </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-gravatar/build/md5.js"></script>
    <script src="bower_components/angular-gravatar/build/angular-gravatar.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/views.js"></script>
    <script src="scripts/controllers/app-root.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/directives/dnd.js"></script>
    <script src="scripts/directives/multifile.js"></script>
    <!-- endbuild -->
  </body>
</html>
