<h3 select-text>Containers</h3>
<div dnd>
  <h2>drop it like it's hawt</h2>
</div>
<div>
  <pre>$location.path() = {{$location.path()}}</pre>
  <pre>$route.current.templateUrl = {{$route.current.templateUrl}}</pre>
  <pre>$route.current.params = {{$route.current.params}}</pre>
  <pre>$route.current.scope.name = {{$route.current.scope.name}}</pre>
  <pre>$routeParams = {{$routeParams}}</pre>
</div>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th>Container Name</th>
        <th>Region</th>
        <th>Files</th>
        <th>Size</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="c in containers">
        <td></td>
        <td><i class="fa" ng-class="{'fa-globe': cdn[c.name].cdn_enabled, 'fa-cube': !cdn[c.name].cdn_enabled}"></i></td>
        <td><a ng-href="#/{{region}}/{{c.name}}">{{c.name}}</a></td>
        <td>{{region}}</td>
        <td>{{c.count}}</td>
        <td>{{c.bytes}}</td>
      </tr>
    </tbody>
  </table>
</div>
